 body{
        background-color: rgb(23, 22, 22);
        
      }

      h1{
        color: goldenrod;
      }

      h2{
        color: skyblue;
      }

      h3{
        color: skyblue;
      }

      p{
        color: white;
      }

      ul{
        color: white;
      }

      ol{
        color: white;
      }

      a{
        color: goldenrod;
      }

      hr{
        background-color: goldenrod;
        border-style: none;
        height: 2px;
      }

