 body{
  background-color: rgb(23, 22, 22);
  margin: 0;
}

h1{
  color: gold; 
  font-size: 58px;
}

h1:hover{
  color: yellow;
}

.container{
  margin-top: 0;
}

.menu{
  margin: 0;
  height: 9%;
  width: 6%;
  position: absolute;
  display: inline-block;
  left: 5px;
}

.menuicon{
  width: 50px;
  cursor: pointer;
  margin-left: 0px;
}

.pagelinks{
  margin-top: 0;
}

.welcome{
  text-align: center;
  position: absolute;
  margin: 5px;
  left: 25%;
  width: 70%;
  height: 50vh;
}

.sub_welcome1{
  font-size: 25px;
  margin: 3px;
  position: absolute;
  line-height: 40px;
  left: 45%;
}

.welc_cm1{
  text-align: center;
  color: rgb(53, 56, 215);
  margin: 0px;
}

.sub_welcome2{
  width: 50%;
  font-size: 65px;
  margin: 5px;
  position: absolute;
  border-top: 70px;
  left: 330px;
  top: 180px;
}

.welc_cm2{
  text-align: center;
  margin: 0px;
}

.sub_welcome3{
  width: 50%;
  font-size: 20px;
  position: absolute;
  left: 370px;
  top: 390px;
}

.welc_cm3{
  text-align: center;
  margin: 0px;
}

.homepage_img1{
  height: 100%;
  width: 100%;
}

.homepage_img2{
  height: 100%;
  width: 100%;
}

.hmpics1{
  height: 100%;
  width: 50%;
  background-color: lightgrey;
  position: absolute;
  display: inline-block;
  left: 0px;
}

.hmpics2{
  height: 100%;
  width: 50%;
  background-color: grey;
  position: absolute;
  display: inline-block;
  right: 0px;
}



/* Reference to an ID */
/* ID should be used for a unique identifer and can only be used once on a page, unlike the class selector */
#profile-name{
  font-size: 58px;
}

h2{
  color: gold;
  margin: 3px;
}

h2:hover{
  color: yellow;
}

h3{
  color: skyblue;
}

h3:hover{
  color: rgb(135, 145, 235);
}

/* Reference to a class */
/* Class should be used for a group elements whose properties would be the same. */
/* An HTML element can have multiple classes unlike the ID selector */
.prof{
  font-size: 25px;
}

p{
  color: white;
  font-size: 17px;
}

ul{
  color: white;
  font-size: 17px;
}

ol{
  color: white;
  font-size: 17px;
}

a{
  color: goldenrod;
  font-size: 17px;
}

a:hover{
  color: rgb(0, 255, 217);
}

th{
  color: skyblue;
  font-size: 17px;
}

td{
  color: white;
}

label{
  color: white;
}

hr{
  background-color: goldenrod;border-style: none;
  height: 2px;
}

